# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Error logs
backend/error.log

# Environment variables / secrets
.env
*.env
secrets.js

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Local Netlify folder
.netlify
